page-user-login {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    .myNavBar {
      height: 150px;
      .toolbar-background {
        background-color: #488aff;
      }
      img {
        width: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .login-content {
      background-color: lightgray;
      .login-form {
        margin: 30px 30px;
        ion-item {
          padding-left: 0px;
          margin-bottom: 20px;
          border-radius: 5px;
          min-height: 32px;
          ion-input {
            background: white;
            input {
              margin: 5px 10px;
              padding-right: 20px;
            }
          }
        }
      }
      .buttons {
        border: 2px solid white;
        background-color: #488aff;
        border-radius: 7px;
        height: 35px;
        margin: 20px 0px;
        width: 100%;
      }
      .horizontal-line {
        width: 100%;
        height: 13px;
        border-bottom: 2px solid white;
        text-align: center;
        .text-or {
          font-size: 18px;
          background-color: #488aff;
          padding: 0 10px;
          color: white;
        }
      }
    }
    .item-md .item-button {
      height: 25px;
      margin: 0px;
    }
    .item-md.item-block .item-inner {
      border: 0px;
    }
    .button-clear-md:hover:not(.disable-hover) {
      background-color: transparent;
    }
  }
  