<ion-header>
  <header></header>
</ion-header>

<ion-content class="login-content">
  <div class="login-form">
    <ion-item>
      <ion-input type="email" placeholder="Email" (keydown.enter)="onKeydown($event)" [(ngModel)]="email" autocomplete="on"
        autocapitalize="off" (keypress)="btnActiv()" (keydown)="btnActiv()" (keyup)="btnActiv()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [type]=" showPassword ? 'text' : 'password' " (keydown.enter)="onKeydown($event)" placeholder="Password"
        [(ngModel)]="password" clearOnEdit="false" (keypress)="btnActiv()" (keydown)="btnActiv()" (keyup)="btnActiv()"></ion-input>
      <button class="show-password-eye" ion-button clear color="dark" item-right (click)="showPassword = !showPassword">
        <ion-icon [name]=" showPassword ? 'eye-off' : 'eye' "></ion-icon>
      </button>
    </ion-item>
    <button ion-button block (click)="Login()" id="myBtn" disabled="disabled" class="buttons">Login</button>
  </div>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>