<ion-header>
  <header></header>
</ion-header>

<ion-content padding>
  <div>
    <ion-grid class="grid">
      <ion-item>
        <ion-row class="grid_header">
          <ion-col>Hospital Id</ion-col>
          <ion-col>Name</ion-col>
          <ion-col>Address</ion-col>
        </ion-row>
        <ion-row class="grid_body" *ngFor='let item of carePartnerList'>
          <ion-col>{{item.guid}}</ion-col>
          <ion-col>{{item.name}}</ion-col>
          <ion-col>{{item.address}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>