page-care-facility-list {
    .grid{
        .row{
            border: 1px solid black;
            .col{
                border-right: 1px solid black;  
                border-top: 0px;  
            }
        }
        .grid_header{
            background: lightgray;
        }
        .grid_body{
            background: white;
        }
    }
   
}
