<ion-header>
	<header></header>
</ion-header>

<ion-content padding>
	<div>
		<ion-searchbar #searchbar placeholder="Enter hospital name" [(ngModel)]="carePartnerData.name"></ion-searchbar>
		<ion-grid>
			<ion-row>
				<ion-col><button ion-button full round (click)="go()">Go</button></ion-col>
				<ion-col><button ion-button full round (click)="view()">View</button></ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div style="padding:20px;border:1px solid lightgray;">
		<p>{{name}}<br />{{address}}<br />{{phone}}</p>
	</div>
	<form [formGroup]="careFacilityForm" (ngSubmit)="register(careFacilityForm.value)">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-input formControlName="partnerId" type="text" [(ngModel)]="carePartnerData.partnerId" placeholder="PartnerId"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="parentId" type="text" [(ngModel)]="carePartnerData.parentId" placeholder="ParentId"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="name" type="text" [(ngModel)]="carePartnerData.name" placeholder="Name"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-input formControlName="nickname" type="text" [(ngModel)]="carePartnerData.nickname" placeholder="Nickname"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="address" type="text" [(ngModel)]="carePartnerData.address" placeholder="Address"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="city" type="text" [(ngModel)]="carePartnerData.city" placeholder="City"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-input formControlName="state" type="text" [(ngModel)]="carePartnerData.state" placeholder="State"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="postalCode" type="text" [(ngModel)]="carePartnerData.postalCode" placeholder="Postal Code"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>

						<ion-input formControlName="partnerLevel" type="text" [(ngModel)]="carePartnerData.partnerLevel" placeholder="Partner Level"></ion-input>


					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-input formControlName="status" type="text" [(ngModel)]="carePartnerData.status" placeholder="Status"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="phone" type="text" [(ngModel)]="carePartnerData.phone" placeholder="Contact"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="lead" type="text" [(ngModel)]="carePartnerData.lead" placeholder="Lead"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-input formControlName="notes" type="text" [(ngModel)]="carePartnerData.notes" placeholder="Notes"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="department" type="text" [(ngModel)]="carePartnerData.department" placeholder="Department"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-input formControlName="reporting" type="text" [(ngModel)]="carePartnerData.reporting" placeholder="Reporting"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
		<button ion-button full round *ngIf='!flag' type="submit">Add</button>
		<button ion-button full round *ngIf='flag' type="submit">Update</button>
	</form>
	<!-- <div> //[disabled]="!careFacilityForm.valid"
		<button ion-button full round type="button" (click)="insert()">Insert</button>
		<button ion-button full round type="button" (click)="update()">Update</button>
		<button ion-button full round type="button" (click)="delete()">Delete</button>
	</div> -->
	<div hidden>
		<ion-grid>
			<div id="map" #map></div>
		</ion-grid>
	</div>

</ion-content>

<ion-footer>
	<footer></footer>
</ion-footer>